In [2]:
# Create first tuple
tuple1 = ("disco", 10, 1.2)
tuple1

('disco', 10, 1.2)

In [3]:
# Print the type of the tuple you created
type(tuple1)

tuple

In [6]:
# Print the variable on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [7]:
# Print the type of value on each index
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [8]:
# Use negative index to get the value of the last element
tuple1[-1]

1.2

In [9]:
# Use negative index to get the value of the second last element
tuple1[-2]

10

In [10]:
# Use negative index to the value of the third last element
tuple1[-3]

'disco'

In [11]:
# Concatenate two tuples
tuples2 = tuple1 + ("hard rock", 10)
tuples2

('disco', 10, 1.2, 'hard rock', 10)

In [13]:
tuple2 = ("disco", 10, 1.2, "hard rock", 10)

In [14]:
# Slice from index 0 to index 2
tuple2[0:3]

('disco', 10, 1.2)

In [15]:
# Slice from index 3 to index 4
tuple2[3:5]

('hard rock', 10)

In [16]:
# Get the lenth of tuple
len(tuple2)

5

In [17]:
# A sample tuple
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [18]:
# Sort the tuple
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [1]:
# Create a next tuple
NestedT = (1, 2, ("pop", "rock"), (3, 4), ("disco", (1, 2)))

In [2]:
# Print element on each index
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 2 of Tuple: ", NestedT[3])
print("Element 3 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 2 of Tuple:  (3, 4)
Element 3 of Tuple:  ('disco', (1, 2))

In [3]:
# Print element on each index, including nest indexes
print("Element 2, 0 of Tuple: ", NestedT[2][0])
print("Element 2, 1 of Tuple: ", NestedT[2][1])
print("Element 3, 0 of Tuple: ", NestedT[3][0])
print("Element 3, 1 of Tuple: ", NestedT[3][1])
print("Element 4, 0 of Tuple: ", NestedT[4][0])
print("Element 4, 1 of Tuple: ", NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [4]:
NestedT[2][1][0]

'r'

In [5]:
# Print the second element in the second nested tuples
NestedT[2][1][1]

'o'

In [6]:
# Print the first element in the second nested tuples
NestedT[4][1][0]

1

In [7]:
# Print the second element in the second nested tuples
NestedT[4][1][1]

2

In [8]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco")
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [9]:
len(genres_tuple)

8

In [10]:
# Access the element, with respect to index 3:
genres_tuple[3]

'hard rock'

In [11]:
# Use slicing to obtain incexes 3, 4, and 5:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [12]:
# Find the first two elements of genres_tuple:
genres_tuple[0:2]

('pop', 'rock')

In [13]:
# Find the first index of "disco":
genres_tuple.index("disco")

7

In [14]:
# Generate a sorted List from the Tuple C_tuple = (-5, 1, -3)
C_tuple = (-5, 1, -3)
C_List = sorted(C_tuple)
C_List

[-5, -3, 1]